.cont{
    padding:5%;
}
.cont .img{
    text-align:center;
}
.cont .details{
    border-left:3px solid #ded4da;
}
.cont .details p{
    font-size:15px;
    font-weight:bold;
}

.details{
  color: white;
  font-weight: bold;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, cursive;
	text-shadow: 0px 4px 3px rgba(0,0,0.4),
				0px 8px 13px rgba(0,0,0.1),
				0px 18px 23px rgba(0,0,0.1);
}
